textarea {
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}

footer {
  text-align:center;
  border-top:1px solid #1e293b;
}

a:hover {
  color:#a78bfa;
}
